<div class="cardWrapper messageCard">
  <header>
    <h2 class="title">Messages</h2>
  </header>
  <hr class="divider">
  <div class="body">
    <div class="messageCard">


      <div class="message-area">
        <div class="joined"></div>
      </div>

      <div class="type-area">
        <input type="textarea" class="message-composer" placeholder='Type here...' />
      </div>
    </div>
  </div>
</div>


<!-- MESSAGE CODE BINDED TO JS -->
<!-- <h1>  demo </h1>
<div class="row">
 <div class="col-md-8">
   <div id="messages"></div>
   <input id="chat-input" class="form-control" type="text" placeholder="say anything" autofocus/>
 </div>
</div> -->