<div class="cardWrapper messageCard">
  <header>
    <h2 class="title">Messages</h2>
    <span class="sms-link">SMS</span>
  </header>
  <hr class="divider">
  <div class="body">
    <div class="messageCard">


      <div class="message-area">
        <div class="joined"></div>
      </div>

      <div class="type-area">
        <input type="textarea" class="message-composer" placeholder='Type here...' />
      </div>
    </div>
  </div>
</div>