<div class="bg-overlay closed">
  <div class="sitePhotoModal">
    <span class="close-modal">X</span>
    <div class="left">
      <img src="#" />
    </div>

    <div class="right">
      <div class="header">
        <h2 class="title">North Face Soffit</h2>
        <div class="date">LAST UPDATED: 01/01/2016</div>
      </div>
      <div class="notes-container">
        <label>NOTES:</label>
        <div class="note">
          Soffit was damaged during hail storm. Needs to be replaced.
        </div>
      </div>
    </div>

  </div>
</div>