<div class="cardWrapper claimInformation">
  <header>
    <h2 class="title">Claim Information</h2>
    <span class="toggle btn outline blue">Collapse</span>
  </header>
  <hr class="divider">
  <div class="body">
    <div class="claimInformation">
      <div class="left">
        <div class="formGroupDisplay">
          <label>CLAIM NUMBER</label>
          <span>1093849584936849594</span>
        </div>

        <div class="formGroupDisplay">
          <label>DATE OF LOSS</label>
          <span>10/20/2016</span>
        </div>

        <div class="formGroupDisplay">
          <label>DATE ENTERED</label>
          <span>11/20/2016</span>
        </div>
      </div>

      <div class="middle">
        <div class="formGroupDisplay">
          <label>POLICY NUMBER</label>
          <span>1093849584936849594</span>
        </div>

        <div class="formGroupDisplay">
          <label>DATE RECEIVED</label>
          <span>11/23/2016</span>
        </div>

        <div class="formGroupDisplay">
          <label>PRICE LIST</label>
          <span>CODE7x_JUN15</span>
        </div>
      </div>

      <div class="right">
        <div class="formGroupDisplay">
          <label>TYPE OF LOSS</label>
          <span>Hail</span>
        </div>

        <div class="formGroupDisplay">
          <label>DATE INSPECTED</label>
          <span>11/22/2016</span>
        </div>

        <div class="formGroupDisplay zero-margin-bottom">
          <label>ESTIMATE</label>
          <span>Restoration/Service/Remodel</span>
        </div>

        <div class="formGroupDisplay">
          <span>HOTTCHEW_FAMILY</span>
        </div>
      </div>
    </div>
  </div>
</div>

