<div class="cardWrapper documents">
  <header>
    <h2 class="title">Documents</h2>
  </header>
  <hr class="divider">
  <div class="body">
    <div class="documents">

      <div class="download contract disabled">
        <div class="btn container">
          <%= render "paper_icon" %>
          <label>AVAILABLE SOON</label>
        </div>
        <div class="text">Contract</div>
      </div>

      <div class="download welcome-packet disabled">
        <div class="btn container">
          <%= render "paper_icon" %>
          <label>AVAILABLE SOON</label>
        </div>
        <div class="text">Welcome Packet</div>
      </div>

      <div class="download contract disabled">
        <div class="btn container">
          <%= render "paper_icon" %>
          <label>AVAILABLE SOON</label>
        </div>
        <div class="text">Completion Packet</div>
      </div>

      <div class="download contract disabled">
        <div class="btn container">
          <%= render "paper_icon" %>
          <label>AVAILABLE SOON</label>
        </div>
        <div class="text">Warranty</div>
      </div>

    </div>
  </div>
</div>

