<div class="cardWrapper insuranceCompanyInfo">
  <header>
    <h2 class="title">Insurance Company</h2>
  </header>
  <hr class="divider">
  <div class="body">
    <div class="insuranceCompanyInfo">
      <div class="left">
        <div class="formGroupDisplay">
          <label>CLAIM REP.</label>
          <span>Paula Hebein</span>
        </div>

        <div class="formGroupDisplay">
          <label>COMPANY</label>
          <span>Eco Roof and Solar</span>
        </div>

        <div class="formGroupDisplay">
          <label>ADDRESS</label>
          <span>610 S. Lipan St. Denver, CO 80223</span>
        </div>
      </div>

      <div class="right">
        <div class="formGroupDisplay">
          <label>PHONE NUMBER</label>
          <span>(303) 484 - 9854</span>
        </div>

        <div class="formGroupDisplay">
          <label>EMAIL</label>
          <span>phebein@ecoroofandsolar.com</span>
        </div>
      </div>
    </div>
  </div>
</div>