<div class="cardWrapper milestons">
  <header>
    <h2 class="title">Milestones</h2>
  </header>
  <hr class="divider">
  <div class="body">
    <div class="milestones">
      <div class="timeline-container">
        <div class="contract-signed milestone complete">
          <div class="date-container">
            <span class="mm-dd">
              09/22
            </span>
            <span class="yyyy">
              2015
            </span>
          </div>
          <label>Contract Signed</label>
        </div>

        <div class="materials-deliver-date milestone complete">
          <div class="date-container">
            <span class="mm-dd">
              12/02
            </span>
            <span class="yyyy">
              2015
            </span>
          </div>
          <label>Materials Delivery Date</label>
        </div>

        <div class="production-date milestone complete">
          <div class="date-container">
            <span class="mm-dd">
              01/16
            </span>
            <span class="yyyy">
              2016
            </span>
          </div>
          <label>Production Date</label>
        </div>

        <div class="planned-final-inspection milestone">
          <div class="date-container">
            <span class="tbd">TBD</span>
          </div>
          <label>Planned Final Inspection</label>
        </div>

        <div class="payment-released milestone">
          <div class="date-container">
            <span class="tbd">TBD</span>
          </div>
          <label>Payment Released</label>
        </div>

      </div>
    </div>
  </div>
</div>
