<div class="cardWrapper milestons">
  <header>
    <h2 class="title">Milestones</h2>
  </header>
  <hr class="divider">
  <div class="body">
    <div class="milestones">

      <div class="download contract">
        <div class="btn container">

          <label>AVAILABLE SOON</label>
        </div>
        <div class="text">Contract</div>
      </div>

      <div class="download welcome-packet">
        <div class="btn container">

          <label>AVAILABLE SOON</label>
        </div>
        <div class="text">Welcome Packet</div>
      </div>

      <div class="download contract">
        <div class="btn container">

          <label>AVAILABLE SOON</label>
        </div>
        <div class="text">Completion Packet</div>
      </div>

      <div class="download contract">
        <div class="btn container">

          <label>AVAILABLE SOON</label>
        </div>
        <div class="text">Warranty</div>
      </div>

    </div>
  </div>
</div>

