<div class="cardWrapper propertyOwnerInfo">
  <header>
    <h2 class="title">Property Owner</h2>
  </header>
  <hr class="divider" />
  <div class="body">
    <div class="propertyOwnerInfo">
      <div class="formGroupDisplay">
        <label>INSURED</label>
        <span>Hott Chew Family Partnership</span>
      </div>
      <div class="formGroupDisplay">
        <label>PROPERTY</label>
        <span>5701 E. Colfax Ave. Denver, CO 80220</span>
      </div>
    </div>
  </div>
</div>