.portalFooter {
  margin: auto;

  .title {
    font-size: 12px;
    color: #BFBFBF;
    text-transform: uppercase;
    text-align: center;
  }
  svg {
    margin: auto;
    margin-top: 10px;
    text-align: center;
    width: 100%;
  }
}