<div class="insurance portal-container">
  <div class="portalModals">
    <%= render "chat/modals/site_photo_modal" %>
  </div>
  <%= render "header" %>
  <%= render "portal_body" %>
  <%= render "footer" %>
</div>