<h1>
  <div>
    <%= link_to "Sales Rep Login", new_sales_rep_session_path %>
  </div>
</h1>
<h1>
  <div>
    <%= link_to "Office Staff Login", new_office_staff_session_path %>
  </div>
</h1>
<h1>
  <div>
    <%= link_to "Admin Login", new_admin_session_path %>
  </div>
</h1>